<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
          <form (submit)="onlogin(login)" #login="ngForm">
            <div class="form-group">
              <label for="">Email</label>
              <input type="text" class="form-control" name="emailId" placeholder="Email id" ngModel #email="ngModel" required email>
              <span class="text-danger small" *ngIf="!email.valid && email.touched">Email Id is required</span>
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" ngModel #password="ngModel" required>
              <span class="text-danger small" *ngIf="!password.valid && password.touched">Password is required</span>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!login.valid" >Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
